.botones{
    background-color: var(--azul-color);
    display: flex; 
    height: 120px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.botones img{
    height: 85px;
}

.btnd{
    width: 500px;
}

.botones a{
text-decoration: unset;
font-size: 75px;
}

ul{
    list-style-type:unset;
}


