.asesorias img{
        height: max-content;
            width: 129px;
}

.asesorias h1{
   font-size: 120px;
   margin-right: -40px;
}        

.cuerpo{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 767px;
}

.cuerpo p{
    font-size: 22px;
}

#transporte {
    margin-left: 338px;
}

@media (max-width: 900px) {
    .asesorias img{
        height: max-content;
            width: 65px;
}

.asesorias h1{
   font-size: 60px;
}

.cuerpo{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px;
}

.cuerpo p{
    font-size: 15px;
}

#transporte {
    margin-right: -40px;
}
#asesoria{
  margin-left: -31px;
}
    
}