.bimagen{
    background-color: var(--azul-color);
    width: 233px;
    height: 300px;
    
    border-radius: 50%;
    
        
}


.tag{
    background-color: var(--medio-color) ;
    border-radius: 34px;
    margin-top: 115px;
    width: 1000px;
    height: 330px;

}

.tag h3{
    font-size: 3rem;
}

.tag p{
    font-size: 29px;
}

.vmtexto{
    width:791px ;
}

.derecha2{
    margin-left: 39px;
}