
.fondo{
    position: relative;

}

.texto{
    position: absolute;
        /* Posición absoluta dentro del contenedor */

        width: 500px ;
        
        
        z-index: 1;
        /* Colocado detrás */}

.tfondo{
    position: relative;
}

.vector{
    position: absolute;
    z-index: 1;
}


.tfondo img{
    width: 300px;
}

.vector  img{
    width: 300px;
    
}



.linea{
    width:400px ;
    
}

.amt h1{
    font-size:75px;
}

.amt h2 {
    font-size: 70px;
}

.caucar{
    gap: 147px;
}

.objetivos h3{
    font-size: 60px;
}
.objetivos p {
    font-size: 39px;
}
.mv h3{
    font-size: 143px;
}
.mv{
    text-align: center;
}

.servicios li{
font-size: 50px;
}

.servicios h2{
    font-size: 112px;
}
.amts{
    gap: 78px;
}

.contactos{
    gap: 250px;
}

.cleft{
    margin-left: 50px;
}

.botones2{
    background-color: var(--azul-color);
    display: flex; 
    height: 80px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.listserv p{
font-size: 30px;
}

.direc p{
    font-size:26px ;
}

.direc h3{
    font-size: 30px;
}
.circulol{
    margin-left: 35px;
}
.derecha1{
    margin-left: 298px;
}



