.quien{
   background-color: var(--azul-color);
   border-radius: 34px;
   height: 80px;
   text-align: center;

}

.quien p{
    font-size: 50px;
}

.quien2{
 width: 670px;
}

.quien2 p {
    font-size: 25px;
}

@media (max-width: 900px) {
    .quien{
        background-color: var(--azul-color);
        border-radius: 15px;
        height: 40px;
        text-align: center;
     
     }
     
     .quien p{
         font-size: 25px;
     }
     
     .quien2{
      width: 350px;
     }
     
     .quien2 p {
         font-size: 12px;
     }
}