.bimagen{
    background-color: var(--azul-color);
    width: 233px;
    height: 300px;
    
    border-radius: 50%;
    
        
}


.tag{
    background-color: var(--medio-color) ;
    border-radius: 34px;
    margin-top: 115px;
    width: 1000px;
    height: 330px;

}

.tag h3{
    font-size: 3rem;
}

.tag p{
    font-size: 29px;
}

.vmtexto{
    width:791px ;
}

.derecha2{
    margin-left: 39px;
}

@media (max-width: 900px) {
    .bimagen{
        background-color: var(--azul-color);
        width: 115px;
        height: 150px;
        
        border-radius: 50%;
        
            
    }
    
    
    .tag{
        background-color: var(--medio-color) ;
        border-radius: 17px;
        margin-top: 57px;
        width: 360px;
        height: 165px;
        margin-left: -40px;
    
    }
    
    .tag h3{
        font-size: 1rem;
    }
    
    .tag p{
        font-size: 15px;
    }
    
    .vmtexto{
        width:400px ;
    }
    
    .derecha2{
        margin-left: 39px;
    }
    .colorido{
        display:flex;
        justify-content: center !important;
    }
    
    #vtel{
        margin-right: -40px;
    }
    
}